@import '../../../styles/tools';

.PageContentRoot {
  @include flexRow(nowrap, space-between, flex-start);
  width: 100%;
  height: calc(100% - #{$pageContentHeaderHeight});
  // padding-bottom: 1rem;
}
