@import '../../../../../styles/tools';

$headerHeight: 2rem;

.Calendar {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20rem;
  height: 20rem;
  background-color: $whiteBackgroundColor;
  padding: 1rem;
  border: 1px dotted $borderDefaultColor;
  border-radius: 4px;
  user-select: none;

  & > .Calendar__header {
    @include flexRow(nowrap, space-between, center);
    width: 100%;
    height: $headerHeight;
    padding-bottom: 0.5rem;

    & > .header__label {
      padding: 0.5rem;
      color: $labelDefaultColor;
      display: inline-block;

      & > .month__label {
        display: inline-block;
        width: 5rem;
        text-align: center;
      }

      & > .month__button {
        display: inline-block;
        cursor: pointer;

        &:first-of-type {
          margin-right: 1rem;
        }

        &:last-of-type {
          margin-left: 1rem;
        }
      }
    }
  }

  & > .Calendar__days {
    @include flexColumn(nowrap, space-between, center);
    width: 100%;
    height: calc(100% - #{$headerHeight});

    & > .monthWeek {
      @include flexRow(nowrap, space-between, center);
      width: 100%;

      &:first-of-type {
        border-bottom: 1px solid $borderDefaultColor;
      }

      & > .weekDayName {
        @include flexRow(nowrap, center, center);
        width: 2rem;
        height: 2rem;
        color: $labelDefaultColor;
      }

      & > .weekDay {
        @include flexRow(nowrap, center, center);
        width: 2rem;
        height: 2rem;
        color: $labelDefaultColor;
        border-radius: 4px;
        cursor: pointer;

        &.weekDay__selected {
          font-weight: bold;
          border: 1px solid $outlineColor;
        }

        &:hover {
          background-color: $whiteHoverBackgroundColor;
        }
      }
    }
  }
}