@import '../../../styles/tools';

.PersonalRoot {
  @include flexRow(wrap, flex-start, flex-start);
  width: 100%;

  & .Entity__btn {
    @include basicButton();
    width: 8rem;
    height: 4rem;
    margin: 0.5rem;
  }
}
