@import '../../../styles/tools';

.PageContentHeader {
  @include flexRow(nowrap, space-between, center);
  width: 100%;
  height: $pageContentHeaderHeight;
  padding: 0 1rem;
  border-bottom: 1px dotted gray;
  border-top: 1px dotted gray;
};
