@import '../../../../styles/tools';

.ImageItem {
  width: 20rem;
  height: 20rem;
  background-color: $whiteBackgroundColor;
  box-shadow: 1px 1px 3px $shadowDefaultColor;
  padding: 1rem;
  margin: 1rem;
  transition: transform 200ms, box-shadow 200ms;

  & > figure {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    & > .imageBox {
      @include flexColumn(nowrap, center, center);
      height: calc(100% - #{$figcaptionHeight});
      width: 100%;

      & > img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    & > figcaption {
      @include flexRow(nowrap, flex-start, center);
      height: $figcaptionHeight;
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 0.85rem;
      color: $labelDefaultColor;
      padding: 0 1rem;
    }
  }

  &:hover {
    box-shadow: 6px 6px 6px $shadowDarkColor;
    transform: scale(1.01);
  }

  &:active {
    box-shadow: none;
    transform: scale(1);
  }
}
