@import '../../../../styles/tools';

.NewsItemHeader {
  width: 100%;
  height: 100%;

  & .header {
    width: 100%;

    & > .title {
      width: 100%;
      font-size: 1.17rem;
      font-weight: bold;
      line-height: 100%;
    }

    & > .subtitle {
      @include flexRow(wrap, space-between, center);
      width: 100%;
      font-size: 0.85rem;
      font-weight: bold;
      font-style: italic;
      color: $labelDefaultColor;
      padding: 0 0 1rem;

      & > .author {

      }

      & > .publishingDate {

      }
    }
  }

  & .content {
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
    font-size: 0.85rem;
  }
}
