@import '../../../../styles/tools';

.BasicInput {
  color: $labelDefaultColor;
  @include basicInput();

  &.BasicInput__invalid {
    background-color: $inputBackgroundInvalidColor;
  }

  &.BasicInput__disabled {
    color: gray;
    user-select: none;
    cursor: default;
    background-color: $inputBackgroundDisabledColor;
  }
}
