@import '../../../../styles/tools';

.BasicDataInput {
  color: $labelDefaultColor;
  @include basicInput();

  &.BasicDataInput__invalid {
    background-color: $inputBackgroundInvalidColor;
  }

  &.BasicDataInput__disabled {
    color: gray;
    user-select: none;
    cursor: default;
    background-color: $inputBackgroundDisabledColor;
  }
}
