$outlineColor: rgba(30, 144, 255, 1);

$borderDefaultColor: rgba(150, 150, 150, 1);
$borderDisabledColor: rgba(180, 180, 180, 1);

$shadowDefaultColor: rgba(0, 0, 0, 0.15);
$shadowDarkColor: rgba(0, 0, 0, 0.5);

$labelDefaultColor: rgba(50, 50, 50, 1);
$labelDisabledColor: rgba(150, 150, 150, 1);
$labelErrorColor: rgba(255, 0, 0, 1);

$inputBackgroundDisabledColor: rgba(225, 225, 225, 1);
$inputBackgroundInvalidColor: rgba(255, 0, 0, 0.15);

$matGlassColor: rgba(250, 250, 250, 0.75);
$smokeGlassColor: rgba(0, 0, 0, 0.75);

$lightGreyBackgroundColor: rgba(200, 200, 200, 1);
$whiteHoverBackgroundColor: rgba(225, 225, 225, 1);
$whiteActiveBackgroundColor: rgba(200, 200, 200, 1);
$whiteBackgroundColor: rgba(255, 255, 255, 1);
$yellowBackgroundColor: rgba(255, 246, 143, 1);
