@mixin displayFlex(
  $direction: row,
  $wrapping: wrap,
  $justifyContent: flex-start,
  $alignItems: flex-start
) {
  display: flex;
  flex-flow: $direction $wrapping;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin flexColumn($wrapping: wrap, $justifyContent: flex-start, $alignItems: flex-start) {
  @include displayFlex(column, $wrapping, $justifyContent, $alignItems);
}

@mixin flexRow($wrapping: wrap, $justifyContent: flex-start, $alignItems: flex-start) {
  @include displayFlex(row, $wrapping, $justifyContent, $alignItems);
}

// buttons
@mixin basicButton() {
  height: 2rem;
  padding: 0.5rem;
  margin: 0 0.25rem;
  min-width: 5rem;
  color: black;
  @include flexRow(nowrap, center, center);
  font-weight: bold;
  text-transform: capitalize;
  background-color: rgba(250, 250, 250, 1);
  cursor: pointer;
  border: 1px dotted rgba(150, 150, 150, 1);
  border-radius: 4px;
  outline: none;

  &:hover {
    background-color: rgba(240, 240, 240, 1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    border-style: solid;
    border-color: rgba(100, 100, 100, 1);
  }

  &:active {
    background-color: rgba(235, 235, 235, 1);
    box-shadow: none;
  }

  &:focus {
    border-color: rgba(30, 144, 255, 1);
    border-style: solid;
  }

  &.disabled {
    color: gray;
    cursor: default;
  }
}

@mixin basicButtonDisabled() {
  &,
  &:hover,
  &:active {
    height: 2rem;
    padding: 0.5rem;
    margin: 0 0.25rem;
    min-width: 5rem;
    color: $labelDisabledColor;
    @include flexRow(nowrap, center, center);
    font-weight: bold;
    text-transform: capitalize;
    background-color: $inputBackgroundDisabledColor;
    cursor: default;
    border: 1px dotted $borderDisabledColor;
    border-radius: 4px;
    outline: none;
    box-shadow: none;
  }
}

// controls
@mixin basicInput() {
  display: block;
  width: 100%;
  padding: 0.25rem;
  outline: none;
  border: 1px dotted $borderDefaultColor;
  border-radius: 4px;
  font-size: 0.875rem;

  &:focus {
    border-color: $outlineColor;
    border-style: solid;
  }
}

// shadow
@mixin basicShadow() {
  box-shadow: 1px 1px 3px $shadowDefaultColor;
}

// forms
@mixin basicForm() {
  @include flexColumn(nowrap, space-between, center);
  position: relative;
  background-color: white;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  border: 1px dotted rgba(150, 150, 150, 1);
  padding: 1rem;
}

@mixin basicFormContent() {
  @include flexColumn(nowrap, flex-start, center);
  width: 100%;
  height: calc(100% - 4rem);
  border: none;
}

@mixin basicFormContentTitle() {
  font-size: 1.17rem;
  font-weight: bold;
}

@mixin basicFormContentRow() {
  width: 100%;
  padding: 0.5rem 0;
  @include flexRow(wrap, space-between, center);

  & label {
    display: block;
    width: 100%;
    user-select: none;
    padding: 0.25rem;
  }

  & input {
    @include basicInput();
  }
}

@mixin basicFormToolbar($justifyContent: flex-end) {
  @include flexRow(wrap, $justifyContent, center);
  width: 100%;
  height: 3.5rem;
  margin-top: 1rem;
  padding: 0.75rem;
}

@mixin basicFormPreloader() {
  @include flexColumn(nowrap, center, center);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: $preloaderModalZIndex;
  background-color: rgba(255, 255, 255, 0.85);
  color: rgba(0, 0, 255, 0.85);
  font-size: 1.25rem;
  font-weight: bold;
}

@mixin basicGallery() {
  @include flexRow(wrap, flex-start, flex-start);
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 1rem;
  background-color: $lightGreyBackgroundColor;
  overflow-y: auto;
}
