$appHeaderHeight: 5rem;
$appHeaderToolbarWidth: 15rem;

$navBarHeight: 3rem;

$controlInputHeight: 1.3125rem;

// page content header
$pageContentHeaderHeight: 4rem;
$headerTitleWidth: 20rem;
$headerTitleFontSize: 1.17rem;

// page content root
$asideWidth: 20rem;

// figure
$figcaptionHeight: 3rem;
