@import "./tools";

html, body, * {
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
}

html {
  font-size: 16px;
}

:focus {
  outline: none;
  -moz-outline: 3px solid #fff !important;
}

input[type="radio"]:focus {
  -moz-outline-radius: 12px !important;
  -moz-outline-offset: 0px !important;
}

input[type="checkbox"]:focus {
  -moz-outline-offset: -1px !important;
  -moz-outline: 1px solid #000 !important;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {/* */
  border: none;
}

#appRoot {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: $appRootZIndex;
}

#modalRoot {
  height: 0;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: $modalRootZIndex;
}

.PageContent {
  width: 100%;
  height: calc(100% - #{$appHeaderHeight} - #{$navBarHeight});
  position: relative;
  z-index: $pageContentZIndex;
}