@import '../../../../styles/tools';

.NewsItem {
  width: calc(100% - 2rem);
  padding: 1rem 2rem;
  background-color: $whiteBackgroundColor;
  margin: 0.5rem 1rem;
  border-radius: 4px;
  box-shadow: 2px 2px 3px $shadowDarkColor;
  transition: box-shadow 100ms, transform 100ms;

  &:hover {
    transform: scale(1.005);
    box-shadow: 3px 3px 3px $shadowDarkColor;
  }

  &:active {
    transform: scale(1);
    box-shadow: 2px 2px 3px $shadowDarkColor;
  }

  & .link {
    color: $labelDefaultColor;
    text-decoration: none;
  }
}
