@import '../../../styles/tools';

.Grid {
  display: flex;

  .column { flex-direction: column; }
  .row {
    width: 100%;
    flex-direction: row;
  }

  .wrap { flex-wrap: wrap; }
  .nowrap { flex-wrap: nowrap; }

  .justifyCenter { justify-content: center; }
  .spaceBetween { justify-content: space-between; }
  .spaceAround { justify-content: space-around; }
  .justifyStart { justify-content: flex-start; }
  .justifyEnd { justify-content: flex-end; }

  .alignCenter { align-items: center }
  .alignStart { align-items: flex-start }
  .alignEnd { align-items: flex-end }
  .stretch { align-items: stretch }
  .baseline { align-items: baseline }

  .verticalPadding { padding: 0.25rem 0; }
}
