@import "../../styles/tools";

.NavBar {
  width: 100%;
  height: $navBarHeight;
  padding: 1rem;
  position: relative;
  z-index: $appNavBarZIndex;

  @include flexRow(nowrap, flex-start, center);

  & .link {
    width: 6rem;
    height: 2rem;
    padding: 0 1rem;
    color: gray;
    text-decoration: none;
    position: relative;
    text-align: center;

    @include flexColumn(nowrap, center, center);

    &:after {
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      bottom: -1px;
      content: '';
      height: 1px;
      width: 0;
      transition: width 300ms;
      border-bottom: 1px solid black;
    }


    &.selected {
      color: black;

      &:after {
        width: 100%;
      }
    }
  }
}