@import '../../../styles/tools';

.NewsContainer {
  width: 100%;
  height: 100%;
  background-color: $lightGreyBackgroundColor;


  & > .section__header {
    @include flexColumn(nowrap, flex-start, flex-start);
    width: calc(100% - 1rem);
    height: 10rem;
    background-color: $whiteBackgroundColor;
    border-radius: 4px;
    margin: 0.5rem;
    padding: 1rem 2rem;
    color: $labelDefaultColor;

    & > .section__title {
      font-size: 1.5rem;
      font-weight: bold;
    }

    & > .section__description {
      font-size: 0.85rem;
      font-style: italic;
    }
  }

  & > .section__content {
    width: calc(100% - 1rem);
    height: calc(100% - 12rem);
    margin: 0.5rem;
    background-color: $whiteBackgroundColor;
    border-radius: 4px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
