@import '../../../../styles/tools';

.AccountForm {
  @include basicForm();
  width: 40rem;
  height: 20rem;
  margin-top: 1rem;

  & > .content {
    @include basicFormContent();

    & > .contentTitle {
      @include basicFormContentTitle();
    }

    & > .row {
      @include basicFormContentRow();
    }
  }

  & > .toolbar {
    @include basicFormToolbar();
  }
}
