@import '../../../styles/tools';

$headerHeight: 7rem;
$toolbarHeight: 3rem;

.EditContentDialog {
  @include flexColumn(nowrap, center, center);
  background-color: $smokeGlassColor;

  & > .editor {
    width: 98%;
    height: 98%;
    border-radius: 4px;
    background-color: $whiteBackgroundColor;
    padding: 2rem;

    & > .header {
      @include flexColumn(nowrap, space-between, center);
      width: 100%;
      height: $headerHeight;
      // border-bottom: 1px solid $borderDefaultColor;

      & > .headerTitle {
        width: 100%;
        height: 2.25rem;
        padding-bottom: 1rem;
        font-size: 1.25rem;
        font-weight: bold;
        line-height: 100%;
        color: $labelDefaultColor;
      }

      & > .headerToolbar {
        @include flexRow(nowrap, flex-start, center);
        width: 100%;
        height: 3.75rem;
        padding-bottom: 1rem;

        & > .headerToolbarControl {
          @include flexRow(nowrap, space-between, center);
          height: 2.75rem;
          margin: 0 0.5rem;

          &.propComponent {
            flex-grow: 2;
          }

          & > label {
            display: inline-block;
            margin-right: 0.5rem;
            color: $labelDefaultColor;
          }

          & > .inputControl {
            @include basicInput();
            width: 20rem;
          }
        }
      }
    }

    & > .centralSection {
      @include flexRow(nowrap, center, center);
      width: 100%;
      height: calc(100% - #{$headerHeight} - #{$toolbarHeight});
      background-color: $lightGreyBackgroundColor;
      padding: 0.5rem;
      border-radius: 4px;
    }

    & > .toolbar {
      @include flexRow(nowrap, flex-end, center);
      width: 100%;
      height: $toolbarHeight;
      padding-top: 1rem;
      // border-top: 1px solid $borderDefaultColor;
    }
  }
}
