@import '../../../../styles/tools';

.BasicToggler {
  width: 3.5rem;
  @include flexColumn(nowrap, center, center);
  padding: 0.25rem;
  user-select: none;
  
  & > .BasicToggler__scale {
    width: 100%;
    height: calc(1rem + 2px);
    background-color: rgba(250, 250, 250, 1);
    border: 1px solid $borderDefaultColor;
    border-radius: 0.5rem;
    position: relative;
    cursor: pointer;
    transition: background-color 200ms;
    outline: none;
    
    & > .BasicToggler__handler {
      width: calc(1rem + 2px);
      height: calc(1rem + 2px);
      border: 1px solid $borderDefaultColor;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 1);
      position: absolute;
      left: -1px;
      top: 50%;
      transform: translateY(-50%);
      transition: left 200ms;
    }
  }

  &.BasicToggler__active {
    & > .BasicToggler__scale {
      background-color: $outlineColor;

      & > .BasicToggler__handler {
        left: calc(100% - 1rem);
      }
    }
  }

  &.BasicToggler__invalid {
    & > .BasicToggler__scale {
      background-color: $inputBackgroundInvalidColor;
    }
  }

  &.BasicToggler__disabled {
    & > .BasicToggler__scale {
      background-color: $inputBackgroundDisabledColor;
      border-color: $borderDisabledColor;
      cursor: default;

      & > .BasicToggler__handler {
        border-color: $borderDisabledColor;
      }
    }
  }
}
