@import '../../../../styles/tools';

.ImagePreviewDialog {
  @include flexColumn(nowrap, center, center);
  width: 100vw;
  height: 100vh;
  background-color: $smokeGlassColor;

  & > .previewContainer {
    @include flexColumn(nowrap, center, center);
    width: 90%;
    height: 90%;
    background-color: $smokeGlassColor;

    & > img {
      max-width: 100%;
      max-height: 100%;
      position: relative;
    }

    & > .description {
      @include flexRow(nowrap, space-between, center);
      width: 100%;
      color: $whiteBackgroundColor;
      position: absolute;
      left: 0;
      bottom: 0;
      font-size: 1rem;
      white-space: pre-wrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 1rem 2rem;

      & > .text {
        width: calc(80% - 1rem);
      }

      & > .parameters {
        width: 20%;
        text-align: right;
      }
    }
  }
}