@import '../../../../styles/tools';

.AddImageDialog {
  background-color: $matGlassColor;
  @include flexColumn(nowrap, center, center);

  & .AddImageForm {
    @include basicForm();
    width: 30rem;
    height: 40rem;

    & > .content {
      @include basicFormContent();

      & > .contentTitle {
        @include basicFormContentTitle();
      }

      & > .row {
        @include basicFormContentRow();

        & .preview {
          @include flexRow(nowrap, center, center);
          width: 100%;
          height: 10rem;

          & > img {
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
    }

    & > .toolbar {
      @include basicFormToolbar(flex-end);

      & > .toolbarButton {
        @include basicButton();
        margin-left: 0.125rem;
      }
    }
  }
}
