@import '../../../../styles/tools';

$buttonWidth: 6rem;

@keyframes backgroundDarkIn {
  from {
    background-color: rgba(255, 255, 255, 0);
  }

  to {
    background-color: $smokeGlassColor;
  }
}

.HtmlEditorInput {
  @include flexRow(nowrap, space-between, center);
  width: 100%;

  & .HtmlEditorInput__input {
    width: calc(100% - #{$buttonWidth} - 1rem);
    margin-right: 1rem;
  }

  & .HtmlEditorInput__button {
    width: $buttonWidth;
  }
}

.HtmlEditorModal {
  @include flexColumn(nowrap, center, center);
  width: 100vw;
  height: 100vh;
  animation: backgroundDarkIn 300ms forwards;

  & > .HtmlEditorForm {
    @include basicForm();
    width: 90%;
    max-width: 30rem;
    height: 90%;
    max-height: 30rem;

    & > .content {
      @include basicFormContent();

      & > .contentTitle {
        @include basicFormContentTitle();
      }

      & > .row {
        @include basicFormContentRow();

        &.editor {
          height: calc(100% - 2rem);
        }
      }
    }

    & > .toolbar {
      @include basicFormToolbar();
    }
  }
}

