@import '../../../../styles/tools';

.UserForm {
  width: 100%;
  height: 300px;

  & .emptyMessage {
    width: 100%;
    height: 100%;
    @include flexColumn(nowrap, center, center);
  }

  & .row {
    @include flexRow(wrap, flex-start, flex-start);
    padding: 1rem 0;

    label {
      display: block;
      width: 10rem;
    }

    input {
      @include basicInput();
      width: calc(100% - 10rem - 1rem);
      margin-left: 1rem;
    }

    .Select {
      display: block;
      width: calc(100% - 10rem - 1rem);
      margin-left: 1rem;
    }
  }

  .toolbar {
    @include flexRow(wrap, flex-end, center);
    width: 100%;

    & > .toolbarButton {
      @include basicButton();
    }
  }
}