@import '../../../styles/tools';

.ChangePasswordDialog {
  background-color: $matGlassColor;
  @include flexColumn(nowrap, center, center);

  & > .ChangePasswordForm {
    @include basicForm();
    width: 20rem;
    height: 21rem;

    & > .content {
      @include basicFormContent();

      & > .contentTitle {
        @include basicFormContentTitle();
      }

      & > .row {
        @include basicFormContentRow();
      }
    }

    & > .toolbar {
      @include basicFormToolbar(space-between);

      & > .toolbarButton {
        @include basicButton();
        margin: 0;
      }
    }
  }
}