@import '../../../../styles/tools';

@keyframes enlarge {
  from { width: 0 }
  to { width: 100% }
}

.SearchInput {
  @include flexRow(nowrap, flex-end, center);
  width: 100%;

  .SearchInput__input {
    animation: enlarge 200ms forwards;
  }
}
