@import '../../../../styles/tools';

.BasicNewsLayout {
  @include flexColumn(nowrap, flex-start, center);
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 3px $shadowDarkColor;
  border-radius: 4px;
  background-color: $whiteBackgroundColor;
  color: $labelDefaultColor;

  &.text_position_top,
  &.text_position_bottom
  {
    & .newsText {
      width: 100%;
    }

    & .imageContainer {
      width: 100%;

      & > img {
        display: block;
        max-width: 100%;
        max-height: 20rem;
        margin: 0 auto;
      }
    }
  }

  &.text_position_top {
    & .newsText {
      padding: 2rem 2rem 1rem;
    }

    & .imageContainer {
      padding: 1rem 2rem 2rem;
    }
  }

  &.text_position_bottom {
    & .newsText {
      padding: 1rem 2rem 2rem;
    }

    & .imageContainer {
      padding: 2rem 2rem 1rem;
    }
  }

  &.text_position_right,
  &.text_position_left
  {
    @include flexRow(nowrap, space-between, flex-start);

    & .newsText {
      width: 50%;
      height: 100%;
    }

    & .imageContainer {
      width: 50%;
      height: 100%;

      & > img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
      }
    }
  }

  &.text_position_right {
    & .newsText {
      padding: 2rem 2rem 2rem 1rem;
    }

    & .imageContainer {
      padding: 2rem 1rem 2rem 2rem;
    }
  }

  &.text_position_left {
    & .newsText {
      padding: 2rem 1rem 2rem 2rem;
    }

    & .imageContainer {
      padding: 2rem 2rem 2rem 1rem;
    }
  }

  &.editMode {
    & .newsText,
    & .imageContainer
    {
      border: 1px dotted $outlineColor;
    }
  }
}
