@import '../../../styles/tools';

.ErrorModalDialog {
  @include flexColumn(nowrap, center, center);
  width: 100vw;
  height: 100vh;
  background-color: $matGlassColor;

  & > .contentBox {
    @include basicForm();
    width: 22rem;
    height: 15rem;

    & > .content {
      @include basicFormContent();

      & > .contentTitle {
        @include basicFormContentTitle();
        color: $labelErrorColor;
      }

      & > .row {
        @include basicFormContentRow();

        & > .metaInfo {
          @include flexRow(wrap, space-between, center);
          width: 100%;
          margin-top: 2rem;
          font-size: 0.85rem;
          font-style: italic;
        }
      }
    }

    & > .toolbar {
      @include basicFormToolbar(flex-end);

      & > .toolbarButton {
        @include basicButton();
        margin-left: 0.125rem;
      }
    }
  }
}