@import '../../../../styles/tools';

.BasicSelect {
  width: 100%;
  // height: $controlInputHeight;
  position: relative;

  & > .BasicSelect__input {
    @include basicInput();
    width: 100% !important;
    height: 100%;
    margin: 0 !important;
    padding-right: 1.5rem !important;
    user-select: none;
  }

  & > .BasicSelect__icon_box {
    position: absolute;
    top: 0;
    right: 0.25rem;
    width: 1rem;
    height: 100%;

    & > svg.BasicSelect__icon {
      position: absolute;
      top: 0;
      left: 0;
      transform-origin: center;
      transition: transform 200ms;

      &.BasicSelect__icon__open {
        transform: rotateZ(90deg);
      }
    }
  }

  &.BasicSelect__invalid {
    & > .BasicSelect__input {
      background-color: $inputBackgroundInvalidColor;
    }
  }

  &.BasicSelect__disabled {
    & > .BasicSelect__input {
      background-color: $inputBackgroundDisabledColor;
    }
  }
}

.BasicSelect__options_box {
  position: absolute;
  background-color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid $borderDefaultColor;
  border-radius: 4px;
  box-shadow: 1px 1px 3px gray;

  & > .BasicSelect__option {
    padding: 0.375rem 0.75rem;
    color: rgba(90, 90, 90, 1);
    cursor: pointer;
    font-size: 0.875rem;

    &:hover {
      background-color: rgba(250, 250, 250, 1);
    }

    &:active {
      background-color: rgba(245, 245, 245, 1);
    }

    &.BasicSelect__option__selected {
      background-color: rgba(230, 230, 230, 1);
    }
  }
}
