@import '../../../../styles/tools';

.Toggler {
  @include flexRow(nowrap, space-between, center);
  width: 100%;

  & > label {
    user-select: none;
    color: $labelDefaultColor;
  }

  &.Toggler__disabled {
    & > label {
      color: $labelDisabledColor;
    }
  }
}
