@import '../../../../styles/tools';

.TogglerSet {
  @include flexRow(wrap, space-between, flex-start);
  width: 100%;

  & > .TogglerSet__label{
    color: $labelDefaultColor;
  }

  & > .TogglerSet__content {
    width: 100%;
  }

  &.TogglerSet__disabled {
    & > .TogglerSet__label {
      color: $labelDisabledColor;
    }
  }
}
