@import "../../styles/tools";

.AppHeader {
  width: 100%;
  height: $appHeaderHeight;
  box-shadow: 1px 1px 3px gray;
  position: relative;
  z-index: $appHeaderZIndex;
  padding: 1rem;

  @include flexRow(nowrap, space-between, center);

  & .title {
    width: calc(100% - #{$appHeaderToolbarWidth} - 1rem);
    height: 100%;
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    padding: 0;
    margin: 0;
  }

  & .toolbar {
    @include flexRow(nowrap, flex-end, center);
    width: $appHeaderToolbarWidth;
    margin-left: 1rem;

    & .infoLabel {
      width: 10rem;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      user-select: none;
      font-size: 0.85rem;
      font-weight: bold;
    }

    & .toolButton {
      width: 5rem;

      height: 2rem;
      border: 1px dotted grey;
      border-radius: 4px;
      outline: none;
      margin: 0.5rem;
      @include flexColumn(nowrap, center, center);
      cursor: pointer;

      &:hover {
        border-style: solid;
        box-shadow: 1px 1px 3px gray;
      }

      &:active {
        border-color: black;
        box-shadow: none;
      }
    }
  }
}
