@import '../../../styles/tools';

.DeleteConfirmationDialog {
  @include flexColumn(nowrap, center, center);
  width: 100vw;
  height: 100vh;
  background-color: $matGlassColor;

  & > .contentBox {
    @include basicForm();
    width: 20rem;
    height: 15rem;

    & > .content {
      @include basicFormContent();

      & > .contentTitle {
        @include basicFormContentTitle();
      }

      & > .row {
        @include basicFormContentRow();
      }
    }

    & > .toolbar {
      @include basicFormToolbar(flex-end);

      & > .toolbarButton {
        @include basicButton();
        margin-left: 0.125rem;
      }
    }
  }
}
