@import '../../../../styles/tools';

.PublicationForm {
  width: 100%;
  height: 100%;

  & > form {
    @include flexColumn(nowrap, flex-start, flex-start);
    width: 100%;
    height: 100%;

    & .row {
      @include flexRow(wrap, flex-start, flex-start);
      width: 100%;
      padding: 1rem 0;

      &.rowWide {
        justify-content: flex-start;
        width: calc(100% + 1rem);
        margin: 0 -0.5rem;
      }

      &.formToolbar {
        justify-content: flex-end;
      }

      & > .cell3 {
        @include flexRow(nowrap, space-between, center);
        width: calc(100% / 4 - 2rem);
        min-width: 25rem;
        margin: 0 0.5rem;
        padding: 0.5rem 0;
      }

      & label {
        display: block;
        width: 10rem;
      }

      & input {
        @include basicInput();
        width: calc(100% - 10rem - 1rem);
        margin-left: 1rem;
      }
    }
  }
}
