@import '../../../styles/tools';

.LoginForm {
  @include basicForm();
  width: 20rem;
  height: 20rem;
  margin-top: 1rem;

  & > .preloader {
    @include basicFormPreloader();
  }

  & > .content {
    @include flexColumn(nowrap, flex-start, center);
    width: 100%;
    height: calc(100% - 4rem);
    border: none;

    & > .contentTitle {
      font-size: 1.17rem;
      font-weight: bold;
    }

    & > .row {
      width: 100%;
      padding: 0.5rem 0;
      @include flexRow(wrap, space-between, center);

      & label {
        display: block;
        width: 100%;
        user-select: none;
        padding: 0.25rem;
      }

      & > input {
        @include basicInput();
      }
    }
  }

  & > .toolbar {
    @include basicFormToolbar(space-between);

    & > .toolbarButton {
      @include basicButton();
    }
  }
}
