.BasicListItem {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  color: gray;
  border-bottom: 1px dotted gray;
  cursor: pointer;
  transition: border-bottom-color 300ms, color 300ms;

  &:hover {
    border-bottom-style: solid;
    border-bottom-color: darkgray;
    color: darkgray;
  }

  &.BasicListItem__selected {
    color: black;
    border-bottom-style: solid;
    border-bottom-color: black;
  }

  &.BasicListItem__disabled {
    cursor: default;
    color: lightgray;
    border-bottom-color: lightgray;

    &:hover {
      border-bottom-color: lightgray;
      color: lightgray;
    }
  }
}
